.hero-image-container {
  width: 1024px;
  height: 600px;
  margin: 0 auto;
  background: url("../img/home/home-jumbotron.png");

  .hero-image-text {
    height: 100%;
  }

  h1 {
    .jumbotron-text-style;
    position: absolute;
    top: 330px;
  }
}