.services-hero-container {
  width: 1024px;
  height: 250px;
  margin: 0 auto;

  img {
    width: 100%;
  }

  .services-hero-text {
    height: 100%;

    h1 {
      .jumbotron-text-style;
      position: absolute;
      top: 155px;
    }
  }
}